{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", 120],
    "new-cap": ["error", {
      "capIsNewExceptions": ["Given", "When", "Then", "After"]
    }],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true
    }],
    "comma-dangle": ["error", {
      "functions": "never"
    }],
    "no-unused-expressions": ["error"],
    "no-console": ["error"],
    "arrow-body-style": "off"
  }
}
